// mirai-color is equal to function that its a map 
// of read all the custom colors that we have
$custom-primary:    #174A84 !default;
$custom-secondary:  #7FC520 !default;
$custom-danger:     #FA023B !default;

$mirai-colors: () !default;
$mirai-colors: map-merge(
    (
        "custom-primary":       $custom-primary,
        "custom-secondary":     $custom-secondary,
        "custom-danger":        $custom-danger
    ),
    $mirai-colors
);

@each $custom-color, $value in $mirai-colors {
    @include bg-variant(".custom-bg-#{$custom-color}", $value, true);
}

//hover with color that you insert:
